<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/css03.css">

<style>

#cust_tb{
	background-image: url("img/bg.png"); 
} 


</style>
</head>
<body>
	<h1>CSS03</h1>
	<table id="cust_tb">
		<thead>
			<tr><th>id</th><th>pwd</th><th>name</th></tr>
		</thead>
		<tbody>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
			<tr><td>id01</td><td>pwd01</td><td>이말숙</td></tr>
		</tbody>
	</table>
</body>
</html>









