<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	*{
		margin:0; 
		padding:0; 
	}
	div{
		width:300px;
		height:300px;
		border:2px solid red; 
	}
	#d1{
		background:blue;
	}
	#d1 > span {
		display:block;
		margin:0 auto;    
	}
	#d2{
		background:yellow; 
		margin:10px 20px 30px 40px;
		/* display:none; */
		visibility: hidden; 
	}
	#d3{
		background:green;
		margin:0 auto; 
	}
</style>
</head>
<body>
	<h1>CSS04</h1>
	<div id="d1"><span>SPAN</span></div>
	<div id="d2"></div>
	<div id="d3"></div>
</body>
</html>




