<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	*{
		margin:0;
		padding:0;
	}
	a{
		text-decoration: none;
		color:black;
	}
	ul,li{
		list-style: none;
	}
	ul{
		width:500px;
		height:40px; 
		border-top: 3px solid black; 
		border-bottom: 3px solid black;  
		margin: 0 auto; 
	}
	ul > li{
		float:left;
		margin: 0 20px;    
		line-height: 40px;
	}
	ul > li > a:hover{
		color:red;
		font-weight: bold;
	} 
	
</style>
</head>
<body>
	<ul>
		<li><a href="#">HTML5</a></li>
		<li><a href="#">CSS3</a></li>
		<li><a href="#">JavaScript</a></li>
		<li><a href="#">jQuery</a></li>
		<li><a href="#">AJAX</a></li>
	</ul>
</body>
</html>




