<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Register</h1>
	<form action="/registerimpl" method="get">
		ID<input type="text" name="id"><br>
		PWD<input type="password" name="pwd"><br>
		AGE<input type="number" name="age"><br>
		BIRTH<input type="date" name="birth"><br>
		HOBBY<br>
		<input type="checkbox" name="hobby" value="t">Train
		<input type="checkbox" name="hobby" value="s">Study
		<input type="checkbox" name="hobby" value="n">Netplex<br>
		GENDER<br>
		Female<input type="radio" name="gender" value="f">
		Male<input type="radio" name="gender" value="m">
		Aje<input type="radio" name="gender" value="a"><br>	
		CAR<br>
		<select name="car">
			<option value="k1">K1</option>
			<option value="k2">K2</option>
			<option value="k3">K3</option>
		</select>
		<br>
		<!-- IMAGE<input type="file" name="img"><br> -->
		TA<textarea rows="10" cols="30" name="ta"></textarea>
		<input type="submit" value="REGISTER">
	</form>
</body>
</html>









